*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #bdb8b8;
}

.cont{
  margin: auto;
  margin-top: 10%;
  border-radius: 10px;
  width: 30%;
}

h1{
  margin-bottom: 20px;
  text-align: center;
}

.input_cont{
  background-color: #b19f9f;
  padding: 40px 30px;
  border-radius: 5px;
}

.name_cont{
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.email_cont{
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.password_cont{
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

label{
  font-size: 18px;
  font-weight: 550;
  margin-bottom: 5px;
  color: #3d3d3d;
}

input{
  padding: 14px 12px;
  border-radius: 5px;
  border: none;
}

input:focus{
  outline: 1px solid #0051ff;
  border: 1px solid #0051ff;
}

.sign-in{
  padding: 15px 25px;
  width: 100%;
  margin-top: 10px;
  background-color: #002e92;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}

.sign-in:hover{
  background-color: #0051ff;
}

.nav{
  color: #fff;
  text-decoration: none;
  padding: 15px 25px;
}

.nav:hover{
  color: #fff;
}

p{
  text-align: center;
  margin-top: 25px;
  font-size: 18px;
}

.navigate{
  color: #002e92;
  cursor: pointer;
}

.navigate:hover{
  color: #0051ff;
}

.navigate{
  text-decoration: none;
}